--- 
http_interactions: 
  - 
    recorded_at: "Mon, 09 Dec 2013 15:02:48 GMT"
    request: 
      body: 
        encoding: UTF-8
        string: ""
      headers: 
        Api-Key: 
          - 1234567890abcdefghizjklmnopqrstuvwxyz
      method: get
      uri: "http://api.postcodeapi.nu/5041EB/4"
    response: 
      body: 
        encoding: UTF-8
        string: "{ \"success\": true, \"resource\": { \"street\": \"Wilhelminapark\",\"house_number\":4, \"postcode\": \"5041EB\", \"town\": \"Tilburg\", \"latitude\": 51.9401, \"longitude\": 5.61531, \"x\": 133505, \"y\": 397537 } }"
      headers: 
        Alternate-Protocol: 
          - "80:quic,80:quic"
        Content-Type: 
          - "application/json; charset=utf-8"
      status: 
        code: 200
        message: OK